.packages-card{
    display: flex;
    justify-content: space-between;
}
.packages{
    height:1245px ;
}
.card{
    height: 577px;
    width: 360px;
   margin-top: 183px;
   background-color: #FFFFFF; 
}
.cost{
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 5px;
    padding-top: 61px;
  
}
.card-title{
    text-align: center;
    padding-top: 49px;
    padding-bottom: 58px;
}
.packages-p{
    padding-left: 31px;
   padding-bottom: 61px;
   height: 293px;
}
#packages-header{
padding-top: 200px;
}
